{#
/**
 * @file
 * rounded-box
 *
 * Available variables for rounded-box:
 *  - rounded_box.variable_name [variable_type]: Description of the variable. Example below.
 *  - rounded_box.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}
{% if shadow == true %}
  {% set shadow = "shadow-lg" %}
{% endif %}

<div class="rounded-box flex-grow border rounded m-5 p-5 {{ shadow }}">
  <div class="title mb-5">{{ title }}</div>
  {% if contents and top_five %}
    <div class="flex flex-col">
      {% for content in contents %}
        <div class="flex flex-row">
          <div class="flex-grow text-gray-900 font-bold font-sansserif">{{ content['created'] }}</div>
          <div class="flex-grow text-gray-900 font-bold font-sansserif text-right">
            <a href="{{ content['link'] }}" target="_blank" class="text-gray-900 font-bold font-sansserif">link</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% elseif contents and gender_age_followers %}
    <div class="flex flex-col">
      {% for content in contents %}
        <div class="flex flex-col">
          <div class="flex-grow text-gray-700 font-sansserif">{{ content['gender_age'] }}</div>
        </div>
      {% endfor %}
    </div>
  {% elseif contents and location_followers %}
    <div class="flex flex-col">
      {% for content in contents %}
        <div class="flex flex-row">
          <div class="flex-grow text-gray-700 font-sansserif">{{ content['location'] }}</div>
          <div class="flex-grow text-gray-700 font-sansserif text-right">{{ content['count'] }}</div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="count text-3xl">{{ count }}</div>
  {% endif %}
</div>
