{#
/**
 * @file
 * dashboard
 *
 * Available variables for dashboard:
 *  - dashboard.variable_name [variable_type]: Description of the variable. Example below.
 *  - dashboard.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="dashboard layout-container">
  {{ primary_menu }}

  {{ highlighted }}

  <header role="banner">
    {{ header_branding }}
    {{ secondary_menu }}
  </header>

  {# Help Region not Included by Default. #}
  {{ help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {{ breadcrumb }}
    <section class="row flex flex-row relative">
      {% include '@organisms/aside/_aside.twig' with {
        "sidebar_first": sidebar_first
      } %}

      <div class="layout-content w-full lg:w-5/6">
        <div class="top-details flex flex-wrap w-full justify-left lg:justify-end border-b border-gray-400 shadow-lg">
          {% include '@atoms/hamburger-menu/_hamburger-menu.twig' %}
          {% if display_filter %}
            <div class="filter flex flex-row flex-grow lg:ml-4">
              {% include '@atoms/selectbox/_selectbox.twig' with {
                "clients": clients
              } %}
              {% include '@atoms/button/_button.twig' with {
                "button": {
                  "text": "Select",
                  "text_color": "black",
                  "font_size": "text-xs",
                  "color": "white",
                  "hoverColor": false,
                  "additional_class": "my-4 border"
                }
              } %}
            </div>
          {% endif %}
          <div class="flex text-right mr-10 align-middle justify-center">
            {# <svg class="flex h-8 w-8 mt-4" viewBox="0 0 20 20" fill="#ccc" class="mail w-6 h-6"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg> #}
            <div class="hidden md:block name inline-block ml-4 mr-4 mt-5">{{ full_name }}</div>
            <div class="hidden md:block overflow-hidden avatar inline-block h-10 w-10 bg-yelloworange rounded-full mt-3">
              <a href="/user/{{ user_id }}">
                {% if user_picture %}
                  <img src={{ file_url(user_picture) }} />
                {% endif %}
              </a>
            </div>
          </div>
        </div>

        {% if client %}
          <div class="flex w-full p-5">
            {% include '@molecules/date-range/_date-range.twig' %}
          </div>
        {% endif %}

        <div class="flex flex-col flex-no-wrap mb-10">
          <div>
            <h2 class="p-5">Facebook message count</h2>
            <div class="flex flex-col md:flex-row">
              {% if conversations %}
                {% for conversation in conversations %}
                  {% include '@atoms/count-box/_count-box.twig' with {
                    "title": conversation['name'],
                    "count": conversation['total'],
                    "shadow": true,
                    "bold_title": true
                  } %}
                {% endfor %}
              {% else %}
                <p class="p-5">There are no data to display at the moment ...</p>
              {% endif %}
            </div>
            <div class="flex px-5">
              <a href="/admin/structure/taxonomy/manage/conversation_tags/add?destination=/dashboard">
                [Create a tag]
              </a>
            </div>
          </div>

          <div>
            <h2 class="p-5">Instagram message count</h2>
            <div class="flex flex-col md:flex-row">
              {% if ig_conversations %}
                {% for conversation in ig_conversations %}
                  {% include '@atoms/ig-count-box/_ig-count-box.twig' with {
                    "title": conversation['name'],
                    "count": conversation['total'],
                    "shadow": true,
                    "bold_title": true
                  } %}
                {% endfor %}
              {% else %}
                <p class="p-5">There are no data to display at the moment ...</p>
              {% endif %}
            </div>
            <div class="flex px-5">
              <a href="/admin/structure/taxonomy/manage/ig_conversation_tags/add?destination=/dashboard">
                [Create a tag]
              </a>
            </div>
          </div>
        </div>

        <div class="flex flex-col md:flex-row">
          <div class="flex-grow">
            <h2 class="p-5">Facebook performance</h2>
            <div class="flex flex-col sm:flex-row">
              <div class="flex flex-col flex-grow">
                {% include '@atoms/count-box/_count-box.twig' with {
                  "title": "Total Facebook Followers",
                  "count": page_insights['total_facebook_followers'],
                  "shadow": true
                } %}
                {% include '@atoms/count-box/_count-box.twig' with {
                  "title": "Total Facebook Reach",
                  "count": page_insights['total_facebook_reach'],
                  "shadow": true
                } %}
                {% include '@atoms/count-box/_count-box.twig' with {
                  "title": "Total Facebook Impressions",
                  "count": page_insights['total_facebook_impressions'],
                  "shadow": true
                } %}
                {% include '@atoms/count-box/_count-box.twig' with {
                  "title": "Link Clicks",
                  "count": page_insights['link_clicks'],
                  "shadow": true
                } %}
              </div>

              <div class="flex flex-col flex-grow">
                {% include '@atoms/percent-box/_percent-box.twig' with {
                  "title": "Engagement rate",
                  "count": engagement_rate,
                  "shadow": true
                } %}

                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Top 5 contents",
                  "count": 0,
                  "top_five": true,
                  "contents": top_five_contents,
                  "shadow": true
                } %}
              </div>
            </div>
          </div>

          <div class="flex-grow">
            <h2 class="p-5">Facebook audience</h2>
            <div class="flex flex-col sm:flex-row">
              <div class="flex flex-col flex-grow">
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Gender and Age of Followers",
                  "count": 0,
                  "gender_age_followers": true,
                  "contents": page_insights['gender_age_followers'],
                  "shadow": true
                } %}
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Gender and Age of Audience Reached",
                  "count": 0,
                  "gender_age_followers": true,
                  "contents": page_insights['gender_age_followers'],
                  "shadow": true
                } %}
              </div>

              <div class="flex flex-col flex-grow">
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Location of Followers",
                  "count": 0,
                  "location_followers": true,
                  "contents": page_insights['location_followers'],
                  "shadow": true
                } %}
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Location of Audience Reached",
                  "count": 0,
                  "location_followers": true,
                  "contents": page_insights['location_followers'],
                  "shadow": true
                } %}
              </div>
            </div>
          </div>
        </div>

        <!-- Instagram metrics -->
        <div class="flex flex-col md:flex-row">
          <div class="flex-grow">
            <h2 class="p-5">Instagram performance</h2>
            <div class="flex flex-col sm:flex-row">
              <div class="flex flex-col flex-grow">
                {% include '@atoms/count-box/_count-box.twig' with {
                  "title": "Total Instagram Followers",
                  "count": ig_insights['total_instagram_followers'],
                  "shadow": true
                } %}
                {% include '@atoms/count-box/_count-box.twig' with {
                  "title": "Total Instagram Reach",
                  "count": ig_insights['reach'],
                  "shadow": true
                } %}
                {% include '@atoms/count-box/_count-box.twig' with {
                  "title": "Total Instagram Impressions",
                  "count": ig_insights['impressions'],
                  "shadow": true
                } %}
                {% include '@atoms/count-box/_count-box.twig' with {
                  "title": "Link Clicks",
                  "count": 0,
                  "shadow": true
                } %}
              </div>

              <div class="flex flex-col flex-grow">
                {% include '@atoms/percent-box/_percent-box.twig' with {
                  "title": "Engagement rate",
                  "count": 0,
                  "shadow": true
                } %}

                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Top 5 contents",
                  "count": 0,
                  "top_five": true,
                  "contents": '',
                  "shadow": true
                } %}
              </div>
            </div>
          </div>

          <div class="flex-grow">
            <h2 class="p-5">Instagram audience</h2>
            <div class="flex flex-row sm:flex-grow">
              <div class="flex flex-col flex-grow">
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Gender and Age of Followers",
                  "count": 0,
                  "gender_age_followers": true,
                  "contents": ig_insights['gender_age_followers'],
                  "shadow": true
                } %}
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Gender and Age of Audience Reached",
                  "count": 0,
                  "gender_age_followers": true,
                  "contents": ig_insights['gender_age_followers'],
                  "shadow": true
                } %}
              </div>

              <div class="flex flex-col flex-grow">
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Location of Followers",
                  "count": 0,
                  "location_followers": true,
                  "contents": ig_insights['location_followers'],
                  "shadow": true
                } %}
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Location of Audience Reached",
                  "count": 0,
                  "location_followers": true,
                  "contents": ig_insights['location_followers'],
                  "shadow": true
                } %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>
</div>
{# /.layout-container #}

{{ footer }}
