{#
/**
 * @file
 * dashboard
 *
 * Available variables for dashboard:
 *  - dashboard.variable_name [variable_type]: Description of the variable. Example below.
 *  - dashboard.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="dashboard layout-container">
  {{ primary_menu }}

  {{ highlighted }}

  <header role="banner">
    {{ header_branding }}
    {{ secondary_menu }}
  </header>

  {# Help Region not Included by Default. #}
  {{ help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {{ breadcrumb }}
    <section class="row flex flex-row relative">
      {% include '@organisms/aside/_aside.twig' with {
        "sidebar_first": sidebar_first
      } %}

      <div class="layout-content w-full lg:w-5/6">
        <div class="top-details flex w-full justify-end border-b border-gray-400 shadow-lg">
          <div class="flex-grow block lg:hidden">{% include '@atoms/hamburger-menu/_hamburger-menu.twig' %}</div>
          <div class="flex text-right mr-10 align-middle justify-center">
            {# <svg class="flex h-8 w-8 mt-4" viewBox="0 0 20 20" fill="#ccc" class="mail w-6 h-6"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg> #}
            <div class="name inline-block ml-4 mr-4 mt-5">{{ full_name }}</div>
            <div class="overflow-hidden avatar inline-block h-10 w-10 bg-yelloworange rounded-full mt-3">
              <a href="/user/{{ user_id }}" class="flex w-full h-full">
                {% if user_picture %}
                 <img src={{ file_url(user_picture) }} />
                {% endif %}
              </a>
            </div>
          </div>
        </div>

        <div class="flex flex-col flex-no-wrap mb-10">
          <div>
            <h2 class="p-5">Facebook message count</h2>
            <div class="flex flex-col md:flex-row">
              {% include '@atoms/rounded-box/_rounded-box.twig' with {
                "title": "Question 1",
                "count": 0,
                "shadow": true
              } %}
              {% include '@atoms/rounded-box/_rounded-box.twig' with {
                "title": "Question 2",
                "count": 0,
                "shadow": true
              }%}
              {% include '@atoms/rounded-box/_rounded-box.twig' with {
                "title": "Question 3",
                "count": 0,
                "shadow": true
              } %}
              {% include '@atoms/rounded-box/_rounded-box.twig' with {
                "title": "Question 4",
                "count": 0,
                "shadow": true
              } %}
            </div>
          </div>

          <div>
            <h2 class="p-5">Instagram message count</h2>
            <div class="flex flex-col md:flex-row">
              {% include '@atoms/rounded-box/_rounded-box.twig' with {
                "title": "Question 5",
                "count": 0,
                "shadow": true
              } %}
              {% include '@atoms/rounded-box/_rounded-box.twig' with {
                "title": "Question 6",
                "count": 0,
                "shadow": true
              } %}
              {% include '@atoms/rounded-box/_rounded-box.twig' with {
                "title": "Question 7",
                "count": 0,
                "shadow": true
              } %}
              {% include '@atoms/rounded-box/_rounded-box.twig' with {
                "title": "Question 8",
                "count": 0,
                "shadow": true
              } %}
            </div>
          </div>
        </div>

        <div class="flex flex-col md:flex-row">
          <div class="flex-grow">
            <h2 class="p-5">Facebook performance</h2>
            <div class="flex flex-col sm:flex-row">
              <div class="flex flex-col flex-grow">
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Total Facebook Followers",
                  "count": page_insights['total_facebook_followers'],
                  "shadow": true
                } %}
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Total Facebook Reach",
                  "count": page_insights['total_facebook_reach'],
                  "shadow": true
                } %}
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Total Facebook Impressions",
                  "count": page_insights['total_facebook_impressions'],
                  "shadow": true
                } %}
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Link Clicks",
                  "count": page_insights['link_clicks'],
                  "shadow": true
                } %}
              </div>

              <div class="flex flex-col flex-grow">
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Engagement rate",
                  "count": 0,
                  "shadow": true
                } %}

                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Top 5 contents",
                  "count": 0,
                  "top_five": true,
                  "contents": top_five_contents,
                  "shadow": true
                } %}
              </div>
            </div>
          </div>

          <div class="flex-grow">
            <h2 class="p-5">Facebook audience</h2>
            <div class="flex flex-col sm:flex-row">
              <div class="flex flex-col flex-grow">
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Gender and Age of Followers",
                  "count": 0,
                  "gender_age_followers": true,
                  "contents": page_insights['gender_age_followers'],
                  "shadow": true
                } %}
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Gender and Age of Audience Reached",
                  "count": 0,
                  "gender_age_followers": true,
                  "contents": page_insights['gender_age_followers'],
                  "shadow": true
                } %}
              </div>

              <div class="flex flex-col flex-grow">
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Location of Followers",
                  "count": 0,
                  "location_followers": true,
                  "contents": page_insights['location_followers'],
                  "shadow": true
                } %}
                {% include '@atoms/rounded-box/_rounded-box.twig' with {
                  "title": "Location of Audience Reached",
                  "count": 0,
                  "location_followers": true,
                  "contents": page_insights['location_followers'],
                  "shadow": true
                } %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>
</div>
{# /.layout-container #}

{{ footer }}
