{#
/**
 * @file
 * dashboard
 *
 * Available variables for dashboard:
 *  - dashboard.variable_name [variable_type]: Description of the variable. Example below.
 *  - dashboard.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="dashboard layout-container" style="background-color: #f1f2f7;">
  {{ primary_menu }}

  {{ highlighted }}

  <header role="banner">
    {{ header_branding }}
    {{ secondary_menu }}
  </header>

  {# Help Region not Included by Default. #}
  {{ help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {{ breadcrumb }}
    <section class="row flex flex-row relative">

      <div class="layout-content w-full"> <!-- lg:w-5/6 -->
        <div class="bg-white top-details flex flex-wrap w-full justify-left lg:justify-end">
          {% include '@atoms/hamburger-menu/_hamburger-menu.twig' %}

          {% include '@atoms/site-name/_site-name.twig' with {
            site_name: 'Imaginarium Creatives'
          } %}

          <div class="navbar-inbox-icon relative">
            <i class="fa fa-envelope-o"></i>
            <span class="badge badge-danger hidden"></span>
          </div>

          {% if display_filter %}
            <div class="filter flex flex-row flex-grow lg:ml-4">
              {% include '@atoms/selectbox/_selectbox.twig' with {
                "clients": clients
              } %}
              {% include '@atoms/button/_button.twig' with {
                "button": {
                  "text": "Select",
                  "text_color": "black",
                  "font_size": "text-xs",
                  "color": "white",
                  "hoverColor": false,
                  "additional_class": "my-4 border"
                }
              } %}
            </div>
          {% endif %}
          <div class="flex text-right mr-6 align-middle justify-center">
            <div class="hidden md:block overflow-hidden avatar inline-block bg-yelloworange rounded-full mt-4">
              <a href="/user/{{ user_id }}">
                {% if user_picture %}
                  <img src={{ file_url(user_picture) }} />
                {% endif %}
              </a>
            </div>
            <div class="hidden md:block name inline-block ml-4 mt-5">{{ full_name }}</div>
          </div>
        </div>

        <div class="flex">

          {% include '@organisms/aside/_aside.twig' with {
            "sidebar_first": sidebar_first
          } %}

          <!-- Date range widget -->
          <div class="w-full lg:w-5/6">
            {% if client %}
              <div class="flex w-full p-5">
                {% include '@molecules/date-range/_date-range.twig' %}
              </div>
            {% endif %}

            <!-- Facebook and Instagram followers count -->
            <div class="flex m-5">
              {% include '@molecules/follower-count-graph/_follower-count-graph.twig' with {
                title: 'Total Follower Count',
                fb_followers: page_insights['total_facebook_followers']|number_format,
                ig_followers: ig_insights['total_instagram_followers']|number_format,
                id: 'line'
              } %}
            </div>
            <!-- End of Facebook and Instagram followers count -->

            <!-- Total Reach, Engagement Rate, Link Clicks, Total Impressions -->
            <div class="flex flex-row flex-wrap lg:flex-no-wrap m-5">
              <div class="w-full lg:w-1/2 lg:mr-5">
                <section class="card">
                  <header class="card-header">Total Reach</header>
                  <div class="card-body flex flex-row">
                    <div class="flex-grow stats-icon w-1/3">
                      <i class="text-3xl text-yelloworange fas fa-users"></i>
                    </div>
                    <div class="flex-grow w-1/3">
                      <div class="block font-bold">Facebook</div>
                      <div class="text-3xl">{{ page_insights['total_facebook_reach']|number_format }}</div>
                    </div>

                    <div class="flex-grow w-1/3">
                      <div class="block font-bold">Instagram</div>
                      <div class="text-3xl">{{ ig_insights['reach']|number_format }}</div>
                    </div>
                  </div>
                </section>

                <section class="card">
                  <header class="card-header">Engagement Rate</header>
                  <div class="card-body flex flex-row">
                    <div class="flex-grow stats-icon w-1/3">
                      <i class="text-3xl text-yelloworange fas fa-percentage"></i>
                    </div>
                    <div class="flex-grow w-1/3">
                      <div class="block font-bold">Facebook</div>
                      <div class="text-3xl">{{ engagement_rate|number_format(2, '.', ',') }}%</div>
                    </div>

                    <div class="flex-grow w-1/3">
                      <div class="block font-bold">Instagram</div>
                      <div class="text-3xl">{{ ig_insights['engagementRate']|number_format(2, '.', ',') }}%</div>
                    </div>
                  </div>
                </section>
              </div>

              <div class="w-full lg:w-1/2 lg:ml-5">
                <section class="card">
                  <header class="card-header">Link Clicks</header>
                  <div class="card-body flex flex-row">
                    <div class="flex-grow stats-icon w-1/3">
                      <i class="text-3xl text-yelloworange fas fa-mouse-pointer"></i>
                    </div>
                    <div class="flex-grow w-1/3">
                      <div class="block font-bold">Facebook</div>
                      <div class="text-3xl">{{ page_insights['link_clicks']|number_format }}</div>
                    </div>

                    <div class="flex-grow w-1/3">
                      <div class="block font-bold">Instagram</div>
                      <div class="text-3xl">{{ ig_insights['link_clicks']|number_format }}</div>
                    </div>
                  </div>
                </section>

                <section class="card">
                  <header class="card-header">Total Impressions</header>
                  <div class="card-body flex flex-row">
                    <div class="flex-grow stats-icon w-1/3">
                      <i class="text-3xl text-yelloworange fas fa-poll-h"></i>
                    </div>
                    <div class="flex-grow w-1/3">
                      <div class="block font-bold">Facebook</div>
                      <div class="text-3xl">{{ page_insights['total_facebook_impressions']|number_format }}</div>
                    </div>

                    <div class="flex-grow w-1/3">
                      <div class="block font-bold">Instagram</div>
                      <div class="text-3xl">{{ ig_insights['impressions']|number_format }}</div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- End of Total Reach, Engagement Rate, Link Clicks, Total Impressions -->

            <!-- Facebook and Instagram messages count -->
            <div class="flex flex-row flex-wrap lg:flex-no-wrap mb-10">
              <div class="w-full lg:w-1/2">
                {% include '@molecules/messages-count/_messages-count.twig' with {
                  title: 'Facebook message count',
                  conversations: conversations,
                  add_tags: '/admin/structure/taxonomy/manage/conversation_tags/add'
                } %}
              </div>

              <div class="flex-grow w-1/2">
                {% include '@molecules/messages-count/_messages-count.twig' with {
                  title: 'Instagram message count',
                  conversations: ig_conversations,
                  add_tags: '/admin/structure/taxonomy/manage/ig_conversation_tags/add'
                } %}
              </div>
            </div>
            <!-- // End of Facebook and Instagram messages count -->

            <!-- Top 5 Contents -->
            <div class="flex flex-row m-5">
              <div class="card w-full">
                <header class="card-header">Top 5 Contents</header>
                <section class="card-body flex flex-row flex-wrap -mx-2">
                  <div class="flex w-full p-2 top-contents-icon text-right">
                    <i class="fab fa-facebook-square mr-1 text-yelloworange cursor-pointer"></i>
                    <i class="fab fa-instagram-square ml-1 text-yelloworange cursor-pointer"></i>
                  </div>

                  <div class="flex w-full fb-top-contents">
                    {% include '@molecules/top-contents/_top-contents.twig' with {
                      contents: top_five_contents
                    } %}
                  </div>
                  <div class="w-full hidden ig-top-contents">
                    {% include '@molecules/top-contents/_top-contents.twig' with {
                      contents: ig_insights['topFive']
                    } %}
                  </div>
                </section>
              </div>
            </div>
            <!-- // End of Top 5 Contents -->

            <!-- Facebook and Instagram audiences -->
            <div class="flex flex-row m-5 flex-wrap lg:flex-no-wrap">
              <div class="flex flex-wrap w-full lg:w-1/2 lg:mr-5">
                <h4 class="flex w-full">Facebook audience</h4>
                <div class="flex w-full flex-wrap md:flex-no-wrap">
                  {% include '@molecules/doughnut-graph-box/_doughnut-graph-box.twig' with {
                    title: 'Gender and Age of Followers',
                    contents: page_insights['gender_age_followers'],
                    prop: 'gender_age',
                    sn: 'fb',
                    id: 'doughnut1',
                    additional_class: 'w-full lg:w-1/2 gender-age-followers'
                  } %}
                  <div class="px-5"></div>
                  {% include '@molecules/doughnut-graph-box/_doughnut-graph-box.twig' with {
                    title: 'Gender and Age of Audience Reached',
                    contents: page_insights['gender_age_followers'],
                    prop: 'gender_age',
                    sn: 'fb',
                    id: 'doughnut2',
                    additional_class: 'w-full lg:w-1/2 gender-age-followers'
                  } %}
                </div>
                <div class="flex w-full flex-wrap md:flex-no-wrap">
                  {% include '@molecules/doughnut-graph-box/_doughnut-graph-box.twig' with {
                    title: 'Location of Followers',
                    contents: page_insights['location_followers'],
                    prop: 'location',
                    sn: 'fb',
                    id: 'doughnut3',
                    additional_class: 'w-full lg:w-1/2 location-followers'
                  } %}
                  <div class="px-5"></div>
                  {% include '@molecules/doughnut-graph-box/_doughnut-graph-box.twig' with {
                    title: 'Location of Audience Reached',
                    contents: page_insights['location_followers'],
                    prop: 'location',
                    sn: 'fb',
                    id: 'doughnut4',
                    additional_class: 'w-full lg:w-1/2 location-followers'
                  } %}
                </div>
              </div>
              <div class="flex flex-wrap w-full lg:w-1/2 lg:ml-5">
                <h4 class="flex w-full">Instagram audience</h4>
                <div class="flex w-full flex-wrap md:flex-no-wrap">
                  {% include '@molecules/doughnut-graph-box/_doughnut-graph-box.twig' with {
                    title: 'Gender and Age of Followers',
                    contents: ig_insights['gender_age_followers'],
                    prop: 'gender_age',
                    sn: 'ig',
                    id: 'ig_doughnut1',
                    additional_class: 'w-full lg:w-1/2 ig-gender-age-followers'
                  } %}
                  <div class="px-5"></div>
                  {% include '@molecules/doughnut-graph-box/_doughnut-graph-box.twig' with {
                    title: 'Gender and Age of Audience Reached',
                    contents: ig_insights['gender_age_followers'],
                    prop: 'gender_age',
                    sn: 'ig',
                    id: 'ig_doughnut2',
                    additional_class: 'w-full lg:w-1/2 ig-gender-age-followers'
                  } %}
                </div>
                <div class="flex w-full flex-wrap md:flex-no-wrap">
                  {% include '@molecules/doughnut-graph-box/_doughnut-graph-box.twig' with {
                    title: 'Location of Followers',
                    contents: ig_insights['location_followers'],
                    prop: 'location',
                    sn: 'ig',
                    id: 'ig_doughnut3',
                    additional_class: 'w-full lg:w-1/2 ig-location-followers'
                  } %}
                  <div class="px-5"></div>
                  {% include '@molecules/doughnut-graph-box/_doughnut-graph-box.twig' with {
                    title: 'Location of Audience Reached',
                    contents: ig_insights['location_followers'],
                    prop: 'location',
                    sn: 'ig',
                    id: 'ig_doughnut4',
                    additional_class: 'w-full lg:w-1/2 ig-location-followers'
                  } %}
                </div>
              </div>
            </div>
            <!-- // End of Facebook and Instagram audiences -->

          </div>

        </div>

      </div>

    </section>
  </main>
</div>
{# /.layout-container #}

{{ footer }}
